.DS_Store

# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
dist-node/
build/
storybook-static/
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# testing / coverage
coverage/

# misc
*.tsbuildinfo
.eslintcache
